.timer {
	border: solid 0.125em var(--dark);
	padding: 1em;
	border-radius: 0.125em;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;

	font-family: var(--main-font);
	cursor: pointer;
}

.timer.open {
	border-color: var(--light-accent);
}

.timer__time {
	display: flex;
	align-items: center;
	gap: 1em;

	font-size: 3em;
}

.timer.open .timer__time {
	position: relative;
	padding-right: 0.25em;
}

.timer.open .timer__time::after {
	background-color: var(--light-accent);
	content: "";
	display: block;
	height: 80%;
	width: 0.05em;

	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	animation: blink 1s steps(5, start) infinite;
}

.timer.open .hours,
.timer.open .minutes,
.timer.open .seconds {
	opacity: 0.5;
}

@keyframes blink {
	to {
		visibility: hidden;
	}
}
