@import url(./variables.css);

.page {
	width: 100%;
	min-height: 100vh;
	padding: 1em 0.5em;
	background-color: #202020;

	color: white;
	font-family: var(--secondary-font);
}

.home {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 2em;
}

.header,
.footer {
	width: 100%;
	padding: 0em 2em;
}

.home__desc {
	font-size: 1.25em;
	letter-spacing: 1px;
	text-align: center;
	opacity: 0.5;
}
.home__desc a {
	text-decoration: none;
	color: var(--light-accent);
}

.home__desc a:hover,
.home__desc a:focus {
	text-decoration: underline;
}

.container {
	width: var(--container-width);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5em;
}

.container__title {
	font-size: 1.25em;
	font-weight: bold;
	letter-spacing: 1px;
	text-align: justify;
	text-transform: uppercase;
}
