:root {
	/**COLOR*/
	--base: #202020;
	--dark: #333533;
	--dark-accent: #23395d;
	--light: whitesmoke;
	--light-accent: #03a89e;
	--danger: #ff2400;
	--danger-accent: #faa0a0;

	/**TEXT*/
	--main-font: "Source Code Pro", monospace;
	--text-color: var(--light);
	--font-size: 2.5em;
}

.todo__container {
	width: 100%;

	font-size: 3em;
}

.todo__card {
	width: 100%;
	padding: 0.25em;
	margin: 1em 0;

	background-color: var(--dark);
	border-radius: 0.25em;
}

.todo__form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.todo__form.invalid input {
	border: solid 2px var(--danger);
}

.todo__input {
	width: 100%;
	border: none;
	outline: none;

	font-size: 0.5em;
}

.todo__form__button {
	padding: 1em 2em;
	margin: 0 0.5rem;

	background-color: var(--green);
	border: none;
	border-radius: 5px;
	color: white;

	transition: all 0.2s ease-in-out;
}

.todo__form__button:hover {
	cursor: pointer;
	filter: brightness(90%);
}

@media (max-width: 767px) {
	.todo__form {
		flex-direction: column;
	}

	.todo__input {
		width: 100%;
		margin: 1rem 0rem;
	}

	.todo__form__button {
		width: 100%;
	}
}
