:root {
	/**COLOR*/
	--base: #202020;
	--dark: #333533;
	--dark-accent: #23395d;
	--light: whitesmoke;
	--light-accent: #03a89e;
	--danger: #ff2400;
	--danger-accent: #faa0a0;
	--neutral: #ffa500;

	/**TEXT*/
	--main-font: "Source Code Pro", monospace;
	--text-color: var(--light);

	/**UTILITY*/
	--card-border: solid 0.1em var(--dark);
	--todo-button-border: solid 0.1em var(--text-color);
	--todo-button-radius: 0.125em;
}

.todo__container {
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

.todo__card {
	width: 100%;
	padding: 2em;

	background-color: var(--dark);
	border-radius: 0.25em;
}

.todo__form {
	width: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.todo__form.invalid .todo__input {
	border: solid 0.1em var(--danger);
}

.todo__input {
	width: calc(80% - 1em);
	padding: 0.5em 1em;
	border: none;
	outline: none;

	font-family: var(--main-font);
	font-size: 1.5em;
}

.todo__form__button {
	width: 20%;
	padding: 0.5em 0em;

	background-color: transparent;
	border: var(--todo-button-border);
	border-radius: var(--todo-button-radius);

	color: var(--text-color);
	font-family: var(--main-font);
	font-size: 1.5em;

	text-align: center;
	cursor: pointer;
}

.todo__form__button:hover {
	background-color: var(--light-accent);
}

.todo__list {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 1em;
}

.todo__list h1 {
	font-family: var(--main-font);
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

@media (min-width: 768px) and (max-width: 1199px) {
	.todo__input,
	.todo__form__button {
		align-self: stretch;
		font-size: 1.25em;
	}
}

@media (max-width: 767px) {
	.todo__card {
		padding: 1em;
	}

	.todo__form {
		flex-direction: column;
	}

	.todo__input,
	.todo__form__button {
		width: 100%;
		padding: 0.5em 0.25em;
		font-size: 1em;
	}

	.todo__list h1 {
		font-size: 1.25em;
	}
}
